{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Contact</title>
</head>

<body>
    <section class="sectionMenu">
        {% include 'header.html' %}
    </section>
    <section class="container">
        <div>
            <form action="">
                <div class="campo">
                    <label for="">Nombre:</label>
                    <input class="input" type="text" name="nombre" id="name" placeholder="Ingresa tu nombre">
                </div>
                <div class="campo">
                    <label for="">Telefono:</label>
                    <input class="input" type="tel" name="telefono" id="tel" placeholder="Ingresa tu telefono">
                </div>
                <div class="campo">
                    <label for="">Correo:</label>
                    <input class="input" type="email" name="Correo" id="mail" placeholder="Ingresa tu correo">
                </div>
                <div class="campo">
                    <label for="">Description:</label>
                    <textarea name="mensaje" placeholder="¿En que estas interesado?" id="descripcion" cols="30"
                        rows="10"></textarea>
                </div>
            </form>
        </div>
    </section>
    <section>
        {% include 'footer.html' %}
    </section>
</body>

</html>