{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<div class="footer">
    <div class="h6">
        <h6>Todos los derechos reservados</h6>
    </div>
    <div class="linksFooter">
        <a href="">Home</a>
        <a href="/development">Development</a>
        <a href="/infrastructure">Infrastructure</a>
        <a href="/merchandise">Merchandise</a>
        <a href="/technicalSupport">Technical Support</a>
        <a href="/privacyNotice">Privacy Notice</a>
        <a href="/contact">Contact</a>
    </div>
</div>